/* style for the Odin Recipes website */

body {
    background-color: rgb(241, 223, 200);
    font-family: Georgia;
}

.center {
    text-align: center;
}

.no_marker ol li, ul li {
    list-style-type: none; 
}

div ul li, div ol li { 
    padding: 10px 20px 10px 0;
} 

.margin {
    margin-left: 20%;
}

.recipes-img, .index-img {
    border-style: solid;
    border-color: rgb(107, 56, 56);
}

.index-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipes-img {
    width: 200px;
    height: auto;
}

.home_button {
    border: rgb(107, 56, 56) solid;
    padding: 10px 30px;
    background-color: rgba(107, 56, 56, 0.521);
    color: black;
    margin: 20px;
}

hr {
    width: auto;
    margin: 10px 20px 10px 0;
    border: solid 2px rgb(107, 56, 56);
    
}